* {
    font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
    background-color:#06090F;
    color: white;
}

main {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    height: calc(100vh - 100px - 40px);
    padding: 10px;
    overflow-y: auto;
}

nav {
    width: 100vw;
    height: 20px;
    background-color:#3e4147;
}

nav button {
    height: 100%;
}

#bottom {
    background-color:#161B22;
    height: 100px;
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
}

#device-select {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#volume-select {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 26px;
    background: transparent;
    outline: none;
    margin: 0px 20px;
}

.slider::-ms-track {
    background-color: lightgray;
    height: 5px;
    width: 100%;
    border-radius: 5px;
    border: none;
    border-color: transparent;
    border-width: 10px 0;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%; 
    background-color: #00ACF8;
    cursor: pointer;
}

.slider::-ms-fill-lower {
    background-color: #00ACF8;
    border-radius: 6px;
}

select {
    display: block;
    width: 300px;
    margin: 0px 20px;
}

/* sound item styling */
.item {
    height: 50px;
    border-top: #30363D solid 1px;
    border-bottom: #30363D solid 1px;
    border: #30363D solid 1px;
    background-color:#0D1117;
    display: flex;
    align-items: center;
    border-radius: 7px;
}

.item-button {
    height: 16px;
    width: 16px;
    padding: 5px;
    border-radius: 50%;
    border: solid white 1px;
    transition: 0.2s;
}

.item-button:hover {
    border: solid white 2px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}

.name {
    width: calc(100% - 140px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.duration {
    width: 50px;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.play-icon {
    background-image: url("{images:play.svg}");
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    margin-left: 2px;
}

.pause-icon {
    background-image: url("{images:pause.svg}");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    height: 100%;
    width: 100%;
}

#target {
    background-color: #191f27;
}